In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt

In [2]:
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship'
        ,'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Salary']
adult_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/adult.data.txt', names=cols)

adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [28]:
adult_data.shape

(32561, 15)

In [29]:
df=adult_data.sample(10000)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
26341,35,Private,174503,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
5325,29,Private,255476,7th-8th,4,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,30,Mexico,<=50K
22834,22,Private,126613,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
468,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
26251,26,Private,212800,Assoc-acdm,12,Never-married,Prof-specialty,Own-child,White,Female,0,0,36,United-States,<=50K

In [30]:
df_cat=df.select_dtypes('object')
df_num=df.select_dtypes('int64')

In [31]:
df_num.head()

       age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
26341   35  174503              9             0             0              40
5325    29  255476              4             0             0              30
22834   22  126613             10             0             0              20
468     49  192776             14             0          1977              45
26251   26  212800             12             0             0              36

In [32]:
df_cat.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,Salary
26341,Private,HS-grad,Divorced,Craft-repair,Not-in-family,White,Female,United-States,<=50K
5325,Private,7th-8th,Never-married,Handlers-cleaners,Own-child,White,Male,Mexico,<=50K
22834,Private,Some-college,Never-married,Sales,Own-child,White,Female,United-States,<=50K
468,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
26251,Private,Assoc-acdm,Never-married,Prof-specialty,Own-child,White,Female,United-States,<=50K

In [33]:
cat_col=list(df_cat.columns)
print(cat_col)

['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'Salary']

In [34]:
num_col=list(df_num.columns)
print(num_col)

['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [41]:
for col in cat_col:
    print(col)
    print(df_cat[col].value_counts())
    df_cat[col]=df_cat[col].map(lambda x: np.nan if x.strip()=='?' else x)

workclass
 Private             6998
 Self-emp-not-inc     764
 Local-gov            624
missing               557
 State-gov            438
 Self-emp-inc         327
 Federal-gov          286
 Without-pay            5
 Never-worked           1
Name: workclass, dtype: int64
education
 HS-grad         3241
 Some-college    2255
 Bachelors       1666
 Masters          510
 Assoc-voc        418
 11th             339
 Assoc-acdm       328
 10th             292
 7th-8th          211
 Prof-school      160
 9th              151
 Doctorate        129
 12th             128
 5th-6th          108
 1st-4th           46
 Preschool         18
Name: education, dtype: int64
marital-status
 Married-civ-spouse       4639
 Never-married            3319
 Divorced                 1320
 Separated                 308
 Widowed                   280
 Married-spouse-absent     124
 Married-AF-spouse          10
Name: marital-status, dtype: int64
occupation
 Craft-repair         1286
 Exec-managerial      1256
 Prof-specialty       1222
 Adm-clerical         1153
 Sales                1118
 Other-service         997
 Machine-op-inspct     611
missing                558
 Transport-moving      499
 Handlers-cleaners     398
 Farming-fishing       329
 Tech-support          294
 Protective-serv       224
 Priv-house-serv        52
 Armed-Forces            3
Name: occupation, dtype: int64
relationship
 Husband           4097
 Not-in-family     2530
 Own-child         1552
 Unmarried         1048
 Wife               478
 Other-relative     295
Name: relationship, dtype: int64
race
 White                 8551
 Black                  964
 Asian-Pac-Islander     307
 Amer-Indian-Eskimo      91
 Other                   87
Name: race, dtype: int64
sex
 Male      6746
 Female    3254
Name: sex, dtype: int64
native-country
 United-States                 8970
 Mexico                         204
missing                         191
 Philippines                     44
 Canada                          36
 Germany                         35
 El-Salvador                     34
 Puerto-Rico                     34
 India                           30
 Vietnam                         25
 Cuba                            25
 Italy                           24
 Columbia                        24
 England                         23
 Guatemala                       23
 China                           21
 Jamaica                         20
 South                           20
 Poland                          20
 Japan                           19
 Taiwan                          17
 Dominican-Republic              16
 Thailand                        11
 Nicaragua                       11
 Portugal                        11
 France                          11
 Haiti                           10
 Iran                            10
 Ecuador                          9
 Ireland                          9
 Peru                             8
 Cambodia                         7
 Hong                             7
 Outlying-US(Guam-USVI-etc)       7
 Yugoslavia                       6
 Laos                             6
 Honduras                         5
 Greece                           5
 Trinadad&Tobago                  4
 Scotland                         4
 Hungary                          3
 Holand-Netherlands               1
Name: native-country, dtype: int64
Salary
 <=50K    7546
 >50K     2454
Name: Salary, dtype: int64

/Users/gauravtyagi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [36]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 26341 to 11743
Data columns (total 9 columns):
workclass         9443 non-null object
education         10000 non-null object
marital-status    10000 non-null object
occupation        9442 non-null object
relationship      10000 non-null object
race              10000 non-null object
sex               10000 non-null object
native-country    9809 non-null object
Salary            10000 non-null object
dtypes: object(9)
memory usage: 781.2+ KB

In [20]:
for col in num_col:
    print(col)
    #print(str(cat_col[col].count_values()))

age
fnlwgt
education-num
capital-gain
capital-loss
hours-per-week

In [12]:
from sklearn.preprocessing import Imputer

In [37]:
for col in cat_col:
    print(col)
    #df_cat[col].count_values()
    df_cat[col]=df_cat[col].map(lambda x: 'missing' if pd.isnull(x) else x)

workclass
education
marital-status
occupation
relationship
race
sex
native-country
Salary

/Users/gauravtyagi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [42]:
df_cat['workclass'].value_counts()

 Private             6998
 Self-emp-not-inc     764
 Local-gov            624
missing               557
 State-gov            438
 Self-emp-inc         327
 Federal-gov          286
 Without-pay            5
 Never-worked           1
Name: workclass, dtype: int64

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
encoder=LabelEncoder()

In [59]:
label=df_cat['Salary']
df_cat1=df_cat.drop('Salary',axis=1)

In [60]:
label.head()

26341     <=50K
5325      <=50K
22834     <=50K
468        >50K
26251     <=50K
Name: Salary, dtype: object

In [90]:
df_cat1.columns
cat_out= pd.get_dummies(df_cat1,columns=df_cat1.columns,drop_first=False)

In [91]:
cat_out.shape

(10000, 102)

In [92]:
label_out=pd.get_dummies(label)

In [93]:
label_out.head()

        <=50K   >50K
26341       1      0
5325        1      0
22834       1      0
468         0      1
26251       1      0

In [105]:
cat_out=np.array(cat_out)
feature=np.hstack([cat_out,np.array(df_num)])

In [106]:
label=np.array(label_out)[:,0]

In [107]:
label

array([1, 1, 1, ..., 0, 1, 1], dtype=uint8)

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
trainx,testx,trainy,testy=train_test_split(feature,label)

In [111]:
trainy.shape

(7500,)

In [118]:
from sklearn.tree import DecisionTreeClassifier

In [124]:
#model=DecisionTreeClassifier(min_samples_leaf=10)
model=DecisionTreeClassifier()

In [125]:
model.fit(trainx,trainy)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [126]:
model.score(trainx,trainy)

1.0

In [127]:
model.score(testx,testy)

0.8076